@import url("reset.css");

h1 {font-size:2em;}

body {background:#fff;font-family:Arial,Verdana,Helvetica,sans-serif;text-align:center;}

header, section, footer {width:1000px; margin:0 auto 0 auto;text-align:left;}
section, footer {width:980px;padding:10px;}

	header {background:#ccc;display:inline-table;}
		header a#logo {float:left;padding:5px;}
		header a#logo h1 {color:#444;}
	
	header nav {background:#ddd;clear:both;padding:5px 5px 2px 5px;}
		header nav ul {display:inline-table;}
		header nav ul li {color:#444;float:left;padding-right:15px;}
		header nav ul li a {color:#444;padding:5px 5px 5px 5px;}
		header nav ul li a:hover {color:#fff; background:#444;}

section {background:#eee;min-height:500px;}
footer {background:#ccc;height:80px;}

/*
 * media queries for responsive design
 * these follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	header, section, footer {width:480px; margin:0 auto 0 auto;text-align:left;}

  /* uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}